*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #36071f;
}
.container{
	width: 70%;
	margin: auto;
	text-align: center;

}
.dice{
	text-align: center;
	display: inline-block;
padding: 40px;}
h1{
	margin: 30px;
	text-shadow: 5px 6px black;
	font-size: 6rem;
	color: #f6b93b;
	font-family: 'Grenze Gotisch', cursive;

}
p{
	font-size: 3rem;
	color: #00b894;
	text-shadow: 1px 1px white;
	text-decoration-line: underline;
	font-family: sans-serif;
	
}
button{
	padding: 5px;
	background-color: #036b32;
	color: white;
	border: none;
	font-size: 2rem;
    border:2px solid black;
    outline: none;
}
button:hover{
	background-color: #408760;
}